spring:
  application:
    name: booking-api

  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/booking_db
    username: booking_user
    password: booking_password
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    open-in-view: false

server:
  port: 8082

logging:
  level:
    root: INFO
    com.yourname.bookingapi: INFO
