version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: booking-api-postgres
    environment:
      POSTGRES_DB: booking_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - booking-network

networks:
  booking-network:
    driver: bridge

volumes:
  postgres_data:
